[submodule "repo"]
	path = repo
	url = git@github.com:roaaalswidany/Project-LV1.git
[submodule "libs/my-submodule"]
	path = libs/my-submodule
	url = git@github.com:roaaalswidany/Project-LV1.git
[submodule "my-submodule"]
	path = my-submodule
	url = git@github.com:roaaalswidany/Project-LV1.git
[submodule "assets/css"]
path = assets/css
 url = git@github.com:roaaalswidany/Project-LV1.git


